.row {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

/* Navbar Fabien */

.logo {
    max-width: 139px;
    max-height: 32px;
}

nav {
    position: fixed;
    background-color: white;
    height: 70px;
}

nav>ul {
    font-family: "Gotham Rounded A", Helvetica, Arial, sans-serif;
    font-weight: 500;
    list-style-type: none;
}

.green {
    color: #51AD58;
}

/* Form/header Jonathan*/

.formulaire { 
    
    background-color: white;
    margin:0 px auto;
    background-image: url(img/backgroundform.jpg);
}
h2{
font-size: 25px;
font-weight:bold;

}
h3 {
    background-color: gray;
    margin: 0 px auto;
}

/* section Get a career Amaury*/

.getacareer h4 {
    text-align: center;
    font-family: "Gotham Rounded B", Arial, Helvetica, sans-serif;
    font-size: 28px;
}

.getacareer div p {
    color:  #7b8b8e;
    font-family: "Gotham Rounded B", sans-serif;
    text-align: center;
    font-weight: 500;
    font-size: 16px;
}

.getstarded{
    background-color: #F4F4F4;
    max-width: 318px;
    font-size: 1.125rem;
    padding: 8px 20px;
    border-radius: 5px;
}

.getacareer p span {
    color: black;
    font-family: "Gotham Rounded A", Helvetica, Arial, sans-serif;
    font-weight: strong;
}

.mo {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.gacimages{
    justify-content: space-around;
    margin-top: 100px;
}
/*fin Get a Career*/

*{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

@font-face {
    font-family: "Gotham Rounded A";
    src: url("font/gothamrounded-medium.otf");
    src:
    url("font/gothamrounded-medium.otf") format("woff"),
    url("font/gothamrounded-medium.otf") format("opentype"),
    url("font/gothamrounded-medium.otf") format("svg");
}

@font-face {
    font-family: "Gotham Rounded B";
    src: url("font/gothamrounded-book.otf");
    src:
    url("font/gothamrounded-book.otf") format("woff"),
    url("font/gothamrounded-book.otf") format("opentype"),
    url("font/gothamrounded-book.otf") format("svg");
}


.col-0{display: none;}
.col-1{width: 8.33%;}
.col-2{width: 16.66%;}
.col-3{width: 25%;}
.col-4{width: 33.33%;}
.col-5{width: 41.66%;}
.col-6{width: 50%;}
.col-7{width: 58.33%;}
.col-8{width: 66.66%;}
.col-9{width: 75%;}
.col-10{width: 83.33%;}
.col-11{width: 91.66%;}
.col-12{width: 100%;}


@media screen and (max-width: 500px) {
    .col-sm-0{display: none;}
    .col-sm-1{width: 8.33%;}
    .col-sm-2{width: 16.66%;}
    .col-sm-3{width: 25%;}
    .col-sm-4{width: 33.33%;}
    .col-sm-5{width: 41.66%;}
    .col-sm-6{width: 50%;}
    .col-sm-7{width: 58.33%;}
    .col-sm-8{width: 66.66%;}
    .col-sm-9{width: 75%;}
    .col-sm-10{width: 83.33%;}
    .col-sm-11{width: 91.66%;}
    .col-sm-12{width: 100%;}


        /* Navbar Fabien */

    .logo {
        max-width: 139px;
        max-height: 32px;
    }

    nav {
        position: fixed;
        background-color: white;
        height: 70px;
    }

    nav>ul {
        font-family: "Gotham Rounded A", Helvetica, Arial, sans-serif;
        font-weight: 500;
        list-style-type: none;
    }

    .green {
        color: #51AD58;
    }

    /* Form/header Jonathan*/

    .formulaire { 
        background-color: white;
        margin:0 px auto;
        background-image: url(img/backgroundform.jpg);
    }
    h2{
    font-size: 25px;
    font-weight:bold;

    }
    h3 {
        background-color: gray;
        margin: 0 px auto;
    }

    /* section Get a career Amaury*/

    .getacareer h4 {
        text-align: center;
        font-family: "Gotham Rounded B", Arial, Helvetica, sans-serif;
        font-size: 28px;
    }

    .getacareer div p {
        color:  #7b8b8e;
        font-family: "Gotham Rounded B", sans-serif;
        text-align: center;
        font-weight: 500;
        font-size: 16px;
    }

    .getstarded{
        background-color: #F4F4F4;
        max-width: 318px;
        font-size: 1.125rem;
        padding: 8px 20px;
        border-radius: 5px;
    }

    .getacareer p span {
        color: black;
        font-family: "Gotham Rounded A", Helvetica, Arial, sans-serif;
        font-weight: strong;
    }

    .mo {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .gacimages{
        justify-content: space-around;
        margin-top: 100px;
    }
    
    /*fin Get a Career*/

}

@media screen and (min-width: 501px) and (max-width: 800px) {
    .col-sm-0{display: none;}
    .col-sm-1{width: 8.33%;}
    .col-sm-2{width: 16.66%;}
    .col-sm-3{width: 25%;}
    .col-sm-4{width: 33.33%;}
    .col-sm-5{width: 41.66%;}
    .col-sm-6{width: 50%;}
    .col-sm-7{width: 58.33%;}
    .col-sm-8{width: 66.66%;}
    .col-sm-9{width: 75%;}
    .col-sm-10{width: 83.33%;}
    .col-sm-11{width: 91.66%;}
    .col-sm-12{width: 100%;}
}

@media screen and (min-width: 801px) {
    .col-sm-0{display: none;}
    .col-sm-1{width: 8.33%;}
    .col-sm-2{width: 16.66%;}
    .col-sm-3{width: 25%;}
    .col-sm-4{width: 33.33%;}
    .col-sm-5{width: 41.66%;}
    .col-sm-6{width: 50%;}
    .col-sm-7{width: 58.33%;}
    .col-sm-8{width: 66.66%;}
    .col-sm-9{width: 75%;}
    .col-sm-10{width: 83.33%;}
    .col-sm-11{width: 91.66%;}
    .col-sm-12{width: 100%;}
}
