body{
    background-image: url(img/homepage-texture-34e7c496750ff276b021f3b2b83238c3177c2c30564885d11d181c4e795a844b.png);
    @font-face{
        font-family: "Gotham Rounded A";
        src: url(fonts/GothamRoundedMedium_21022.ttf);
    }
}
nav {
    background-color: #FFFFFF;
}

nav>img {
    max-width: 100px;
    max-height: 50px;
}

.sform {
    background-image: url(img/backgroundform.jpg);
}





/* section Get a career*/


.getacareer h4{
    text-align: center;
    font-family: "Gotham Rounded A", "Gotham Rounded B", Arial, Helvetica, sans-serif;

}
.getacareer p{
    color: #7b8b8e;
    font-family: "Gotham Rounded A", sans-serif;
    text-align: center;
    font-weight: 500;
}

.getacareer p span{
    color: black;
}

