@font-face {
    font-family: "Gotham Rounded A";
    src: url("font/gothamrounded-medium.otf");
    src:
    url("font/gothamrounded-medium.otf") format("woff"),
    url("font/gothamrounded-medium.otf") format("opentype"),
    url("font/gothamrounded-medium.otf") format("svg");
}

@font-face {
    font-family: "Gotham Rounded B";
    src: url("font/gothamrounded-book.otf");
    src:
    url("font/gothamrounded-book.otf") format("woff"),
    url("font/gothamrounded-book.otf") format("opentype"),
    url("font/gothamrounded-book.otf") format("svg");
}

*{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/*AFFICHAGE BUREAU*/

@media screen and (min-width: 992px) {
    .col-lg-0{display: none;}
    .col-lg-1{width: 8.33%;}
    .col-lg-2{width: 16.66%;}
    .col-lg-3{width: 25%;}
    .col-lg-4{width: 33.33%;}
    .col-lg-5{width: 41.66%;}
    .col-lg-6{width: 50%;}
    .col-lg-7{width: 58.33%;}
    .col-lg-8{width: 66.66%;}
    .col-lg-9{width: 75%;}
    .col-lg-10{width: 83.33%;}
    .col-lg-11{width: 91.66%;}
    .col-lg-12{width: 100%;}
}

/*AFFICHAGE TABLETTE*/

@media screen and (min-width: 576px) and (max-width: 991.98px) {
    .col-md-0{display: none;}
    .col-md-1{width: 8.33%;}
    .col-md-2{width: 16.66%;}
    .col-md-3{width: 25%;}
    .col-md-4{width: 33.33%;}
    .col-md-5{width: 41.66%;}
    .col-md-6{width: 50%;}
    .col-md-7{width: 58.33%;}
    .col-md-8{width: 66.66%;}
    .col-md-9{width: 75%;}
    .col-md-10{width: 83.33%;}
    .col-md-11{width: 91.66%;}
    .col-md-12{width: 100%;}
}

/*AFFICHAGE MOBILE*/

@media screen and (max-width: 575.98px) {
    .col-sm-0{display: none;}
    .col-sm-1{width: 8.33%;}
    .col-sm-2{width: 16.66%;}
    .col-sm-3{width: 25%;}
    .col-sm-4{width: 33.33%;}
    .col-sm-5{width: 41.66%;}
    .col-sm-6{width: 50%;}
    .col-sm-7{width: 58.33%;}
    .col-sm-8{width: 66.66%;}
    .col-sm-9{width: 75%;}
    .col-sm-10{width: 83.33%;}
    .col-sm-11{width: 91.66%;}
    .col-sm-12{width: 100%;}

    .marginsite {
        padding-left: 32px;
        padding-right: 32px;
        padding-top: 80px;
        background-color: #F9FAFA;
    }

/* Navbar Fabien */

    nav {
        position: fixe;
        background-color: white;
        height: 50px;
        text-decoration: none;
    }

    .logo {
        max-width: 139px;
        max-height: 32px;
    }

    nav>ul {
        font-family: "Gotham Rounded A", Helvetica, Arial, sans-serif;
        list-style-type: none;
        display: flex;
        flex-direction: row;
    }

    .green {
        color: #51AD58;
    }

/* Header/Form Fabien*/
    
    .head {
        background-image: linear-gradient(to bottom, rgba(48,56,83,0) 40%, #303853 60%, #303853 100%),url(img/backgroundform.jpg);
        background-color: #303853;
        background-attachment: scroll, scroll;
        background-position-x: 100%, 100%;
        background-position-y: 100%, -10px;
        padding: 48px 32px 24px;
    }

/* Header Fabien*/

    .texthead {
        color: #fff;
        font-family: "Gotham Rounded B", Helvetica, Arial, sans-serif;
        text-align: left;
    }

    .texthead h1 {
        font-size: 36px;
        font-weight: bold;
        margin-bottom: 15px;
    }

    .texthead h2 {
        font-size: 28px;
        margin-top: 15px;
    }
    
/* Top Form Fabien/Jonathan */

    .extform {
        padding: 0 9px;
        margin-top: 24px;
    }

    .formulaire { 
        font-family: "Gotham Rounded B", Helvetica, Arial, sans-serif;
        background-color: white;
        display:flex;
        flex-direction: column;
        align-items: center;
        padding: 30px;
        border-radius: 5px;
        color: #40484a;
    }

    .formtitle {
        background-color: #edeff0;
        text-align: center;
        padding: 20px;
        margin: -30px -30px 30px;
        border-radius: 5px 5px 0 0;
    }

    form>p>span {
        font-weight: bold;
    }
    
/* Input Form Jonathan/Fabien */

    form label span {
        font-weight: bold;
        margin-bottom: 8px;
    }

    label{
        display:flex;
        flex-direction: column;
    }

    input{  
        background-color: #f9fafa;
        border: 2px solid #d4d9dd;
        border-radius: 4px;
        padding: .75rem 1rem;
        margin-bottom: 24px;
    }

/* Footer of Form Fabien/Jonathan */

    .labcheck {
        flex-direction: row-reverse;
        border-bottom: 1px solid #dfe0e0;
        padding-bottom: 16px;
    }

    .inpcheck {
        background-color: #f9fafa;
        border: 2px solid #d4d9dd;
        margin: 0;
    }

    .textcheck {
        font-weight: normal;
        font-size: 14px;
        margin-left: 12px;
    }

    button {
        background-color: #387bab;
        color: white;
        text-align: center;
        border-radius: 4px;
        margin-top: 24px;
        font-size: 16px;
        font-weight: bold;
        padding: 0 40px;
        height: 52px;;
    }

/* Footer of Header Fabien */

    .footer-header {
        margin-top: 64px;
        font-family: "Gotham Rounded B", Helvetica, Arial, sans-serif;
        color: white;
        display: flex;
        flex-wrap: wrap;
        text-align: center;
        justify-content: center;
    }

    .div-footer-header {
        margin: 0 1.5rem 1rem 1.5rem;
    }

    .text-1 {
        font-size: 36px;
    }

    .text-2 {
        font-size: 18px;
    }

/* section Get a career Amaury*/

    .secjobs {
        display: flex;
        flex-direction:column;
        justify-content:center;
    }

    .secjobs h4 {
        text-align: center;
        font-family: "Gotham Rounded B", Arial, Helvetica, sans-serif;
        font-size: 28px;
        padding: 10px;
    }

    .secjobs>p {
        color:  #7b8b8e;
        font-family: "Gotham Rounded B", sans-serif;
        text-align: center;
        font-weight: 500;
        font-size: 16px;
        padding: 10px;
    }

    .secjobs p span {
        color: black;
        font-family: "Gotham Rounded A", Helvetica, Arial, sans-serif;
        font-weight: strong;
    }

    .getstarded {
        background-color: #F4F4F4;
        padding: 8px 20px;
        font-size: 1.125rem;
    }

    .mo {
        display: flex;
        justify-content: center;
    }

    .gacimages {
        display: flex;
        flex-direction: column;
        justify-content:center;
        width: 150px;           
    }

/* Themes Formation Amauy*/

    .abox {
        text-decoration:none;
    }

    .themes {
        border-left: solid 8px #3659a2;
        box-shadow: 0 2px #dfe0e0;
        border-radius: 4px;
        background-color: white;
        padding: 20px 20px 15px 25px;
        margin: 44px 24px 24px 24px;
    }
    
    .themes h6{
        font-family: "Gotham Rounded B", Helvetica, Arial, sans-serif;
        color: #3659a2;
        font-weight: 800;
        font-size: 18px;
        margin-bottom: 5px;
    }

    .themes p{
        font-family:"Gotham Rounded B", Helvetica, Arial, sans-serif;
        color: #7b8b8e;
        text-align:left;
        margin-top: 5px;
        font-size: 13px;
    }
    
    .themes span{
        font-family: "Gotham Rounded B", Helvetica, Arial, sans-serif;
        color: #7b8b8e;
        font-size: 13px;
    }
    
    .themes strong {
        font-weight: bold;
    }

    .UX {
        border-left: solid 8px #4a4290;
    }

    .UX h6 {
        font-family: "Gotham Rounded B", Helvetica, Arial, sans-serif;
        color: #4a4290;
        font-weight: 800;
        font-size: 18px;
    }

/* section Get a career*/


.getacareer h4{
    text-align: center;
    font-family: "Gotham Rounded A", "Gotham Rounded B", Arial, Helvetica, sans-serif;

}
.getacareer p{
    color: #7b8b8e;
    font-family: "Gotham Rounded A", sans-serif;
    text-align: center;
    font-weight: 500;
}

.getacareer p span{
    color: black;
}
/* ----------------------------------*/


    .php{
        border-left: solid 8px #008297;
    }
    
    .php h6 {
        font-family: "Gotham Rounded B", Helvetica, Arial, sans-serif;
        color: #008297;
        font-weight: 800;
        font-size: 18px;
    }
    
/*Fin Get a Career*/

}
